.jumbotron {
  background: #f7795a;
}

h2,
h4 {
  color: #dbd0d5;
  font-family: "Timmana", sans-serif;
}

p {
  color: #183e69;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
}

.table {
  background: #f0cdbd;
  color: #272325;
  font-family: "Assistant", sans-serif;
}

.thead {
  background: #213862;
  font-family: "Assistant", sans-serif;
}

.table td,
.table th {
  border-top: 1px solid #e3463f;
}
