.jumbotron {
  background: #1c2743;
}

h2,
h4 {
  color: #b46382;
  font-family: "Timmana", sans-serif;
}

p {
  color: #fd9564;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
}

.table {
  background: #fd9564;
  color: #b46382;
  font-family: "Assistant", sans-serif;
}

.thead {
  background: #213862;
  font-family: "Assistant", sans-serif;
}

.table td,
.table th {
  border-top: 1px solid #e3463f;
}
