.jumbotron {
  background: #165969;
}

h2,
h4 {
  color: #3f887e;
  font-family: "Timmana", sans-serif;
}

p {
  color: #dfdfdf;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
}

.table {
  background: #cac8c7;
  color: #8f8a8c;
  font-family: "Assistant", sans-serif;
}

.thead {
  background: #6998f0;
  font-family: "Assistant", sans-serif;
}

.table td,
.table th {
  border-top: 1px solid #e3463f;
}
